.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form__title__input {
	padding: 10px;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 32px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	background: none;
	color: #fff;
}

.form__title__input::placeholder {
	color: #f2f2f2;
}

.form__row {
	display: flex;
	align-items: center;
}

.form__label {
	min-width: 150px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.form__input {
	font-family: 'Source Sans 3', sans-serif;
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	border: none;
	background: none;
	color: #fff;
}

.form__input::placeholder {
	color: #f2f2f2;
}

.form__input::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.journal__form-error {
	border: 1px solid red;
}
